<!--<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="openDialog()">Add Button</button>

</mat-dialog-actions>-->




<!--<div id="parent">

  <app-dash-board2></app-dash-board2>-->
  <!--<app-dash-board3></app-dash-board3>
  <app-dash-board1></app-dash-board1>
  <app-dash-board></app-dash-board>-->
  <!--<router-outlet></router-outlet>
</div>

<div id="parent">-->

  <!--<app-dash-board2></app-dash-board2>-->
  <!--<app-dash-board3></app-dash-board3>-->
  <!--<app-dash-board1></app-dash-board1>
  <app-dash-board></app-dash-board>-->
  <!--<router-outlet></router-outlet>
</div>

<div id="parents">-->

  <!--<app-dash-board2></app-dash-board2>
  <app-dash-board3></app-dash-board3>-->
  <!--<app-dash-board1></app-dash-board1>-->
  <!--<app-dash-board></app-dash-board>-->
  <!--<router-outlet></router-outlet>
</div>

<div id="parents">-->

  <!--<app-dash-board2></app-dash-board2>
  <app-dash-board3></app-dash-board3>
  <app-dash-board1></app-dash-board1>-->
  <!--<app-dash-board></app-dash-board>
  <router-outlet></router-outlet>
</div>-->

<div>
  <router-outlet></router-outlet>
</div>



<div class="container">
  <div class="header">
  <app-top-widgets></app-top-widgets>
  </div>
  <div class="main-router">
    <router-outlet></router-outlet> <!-- This will display the routed components -->
  </div>
  </div>
